<configuration>
  <system.serviceModel>

    <services>
      <!-- Note: the service name must match the configuration name for the service implementation. -->
      <service name="ObjectWCF.PhotosAndProperties" behaviorConfiguration="MyServiceTypeBehaviors" >
        <!-- Add the following endpoint.  -->
        <!-- Note: your service must have an http base address to add this endpoint. -->
        <endpoint
          contract="ObjectWCF.IPhotosAndProperties"
          binding="basicHttpBinding"
          address="http://localhost:4000/PC"
          name="_Photos">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>

        
        <endpoint 
          contract="IMetadataExchange" 
          binding="mexHttpBinding" 
          address="mex" 
          name="mexhttp"/>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors" >
          <!-- Add the following element to your service behavior configuration. -->
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>